.theme-params-page__disclaimer {
  box-sizing: border-box;
  margin-bottom: 16px;
}

.theme-params-page__line {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 10px
}

.theme-params-page__line-title {
  background-color: var(--tg-theme-background-color);
  border-radius: 5px;
  padding: 3px 8px;
}
