.data-table__row {
  padding-bottom: 15px;
}

.data-table__row-title {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 1.2em;
}

.data-table__row-value {
  white-space: normal;
  word-break: break-word;
  font-size: 15px;
}